.gallery {
  list-style: none;
  padding: 20px;
  background: #333533;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 500px;
  overflow: auto !important;
}

.gallery li {
  position: relative;
  z-index: 2;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin: 4px;
}

.gallery li img {
  width: 490.5px;
  height: auto;
  transition: ease-in-out 0.5s;
  overflow-y: hidden;
}

.gallery li img:hover {
  opacity: 0.5;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s;
}

.gallery li .likes-container {
  padding: 2px 4px 2px 4px;
  border-radius: 0 0 10px 0;
  text-decoration: none;
  position: absolute;
  top: 0;
  background: #fff;
  box-shadow: 0px 11px 21px 0px rgba(0, 0, 0, 0.5);
}

.gallery li .likes-container i {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.route-btn {
  margin-bottom: 30px;
}

.route-btn a {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  color: #fff;
  padding: 3px 8px;
  border-radius: 20px;
  box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}
